<nav class="navbar navbar-light navbar-expand-md p-0 m-0 shadow">
    <div class="container-fluid container-lg">
        <a routerLink="/home">
          <div class="navbar-brand">
              <p class="d-inline-block pt-lg-3 pt-2 logo">YASH PATEL</p>
          </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNav" aria-controls="myNav"
            aria-expanded="false" aria-label="Toggle Navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse  mx-sm-auto" id="myNav">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link">
                    <img src="../assets/images/logo.jpg"
                    class="img-fluid rounded-circle d-sm-none" style="width: 80px;">
                </a>
                <a class="nav-item nav-link" routerLink="/home" routerLinkActive="actvLink">Home</a>
                <a class="nav-item nav-link" routerLink="/aboutme" routerLinkActive="actvLink">About Me</a>
                <a class="nav-item nav-link" routerLink="/abilities" routerLinkActive="actvLink">Abilities</a>
                <a class="nav-item nav-link" routerLink="/projects" routerLinkActive="actvLink">Projects</a>
                <a class="nav-item nav-link" routerLink="/experiance" routerLinkActive="actvLink">Experiance</a>
                <a class="nav-item nav-link" routerLink="/contactme" routerLinkActive="actvLink">Conatct Me</a>
            </div>
            <!--navbar-nav-->
        </div>
    </div>
</nav>

