<div class="footer shadow align-content-center border-top">
  <div class="container pt-3 ">
    <div class="row">
      <div class="col-md-8 text-md-left text-center">
        Copyright 2020 | All rights reserved - <a routerLink="/home">Yash Patel</a>
      </div>
      <div class="col-md-4 text-md-right text-center mt-md-0 mt-3 mb-md-0 mb-3">
        <a href="https://www.facebook.com/yashp128/" target="_blank" class="ml-3"> <i class="fab fa-facebook-square fa-2x"></i></a>
        <a href="https://www.linkedin.com/in/yashpatel128/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
        <a href="https://github.com/yp128" target="_blank"><i class="fab fa-github-square fa-2x"></i></a>
      </div>
    </div>
  </div>
</div>
