<div class="container mt-4 text-center">
<div>
  <p class="display-3">Profile</p>
  <p class="subTitle">I am a creative Web Designer and Developer. </p>
  <hr class="my-5">
  <div class="row my-5 justify-content-center">

    <div class="col-md-6">
      <img src="../../assets/images/logo.jpg" class="img-fluid rounded-circle img-thumbnail" style="height: 55vh">
    </div>
    <div class="col-md-6 text-md-left mt-sm-3">
      <div class="mb-5">
        <p class="h3">Yash Patel</p>
        <p class="figure-caption p-0"> Computer Engineer</p>
      </div>
      <p class="abutDesc mb-5">I am a Web Developer and Designer with a Bachelor's in a Computer Engineering. I like spending time to learn new tools and technologies and try to implement something good from that i strongly belive in practical work as said "Practice makes man perfect".</p>
      <p class="mt-1">Learn more about me from resume...</p>
      <!--  <a (click)="showResume()" class="btn btn-primary mr-5" style="cursor: pointer">{{title}}</a>-->
      <a href="../../assets/resume/yash_patel.pdf" target="_blank" class="btn btn-primary p-3" style="cursor: pointer">Download
        Resume(PDF)</a>
    </div>

  </div>
</div>

</div>


<!--<div class="container-sm cont mb-5" *ngIf="resumeView">-->
<!--  <div class="p-3 p-sm-4" style="border:1px solid black">-->
<!--    <div class="row">-->
<!--      <div class="col-md-6 col-lg-8 text-left">-->
<!--        <h3>YASH PATEL</h3>-->
<!--        <a><i class="fas fa-envelope"></i>patelyash133@gmail.com</a>-->
<!--        <br>-->
<!--        <a><i class="fas fa-phone-square"></i>+1-416-990-9016</a>-->

<!--      </div>-->
<!--      <div class="col-md-6 col-lg-4 text-left mt-sm-2">-->
<!--        <a href="http://www.linkedin.com/in/yashpatel128" target="_blank"><i class="fab fa-linkedin"></i>www.linkedin.com/in/yashpatel128</a>-->
<!--        <br>-->
<!--        <a href="#"><i class="fas fa-globe"></i>www.yashportfolio.com</a>-->
<!--        <br>-->
<!--        <a href="http://www.github.com/yp128" target="_blank"><i-->
<!--          class="fab fa-github-square"></i>www.github.com/yp128</a>-->
<!--        <br>-->
<!--        <a><i class="fas fa-map-marker-alt"></i>ON, Canada</a>-->
<!--      </div>-->
<!--    </div>-->
<!--    <hr style="border-color: black">-->
<!--    <div class="row">-->
<!--      <div class="col-md-3 d-flex align-items-center">-->
<!--        <img src="../../assets/images/logo.jpg"-->
<!--             class="img-fluid rounded-circle h-75 w-75 m-auto d-block">-->
<!--      </div>-->
<!--      <div class="col-md-9">-->
<!--        <ul>-->
<!--          <li class="li_font">1+ years of experience of developing web application projects based on MEAN stack and-->
<!--            front-end-->
<!--            technologies like Bootstrap 4, CSS.-->
<!--          </li>-->
<!--          <li class="li_font">1+ years of experience in design, developing and implementation and support of-->
<!--            object-oriented programming-->
<!--            knowledge.-->
<!--          </li>-->
<!--          <li class="li_font">Sound knowledge of SDLC and Agile Methodology.</li>-->
<!--          <li class="li_font">Strong knowledge in Object-Oriented Programming using .net using C#, java and PHP and MEAN-->
<!--            stack with vast-->
<!--            experience in building web application.-->
<!--          </li>-->
<!--          <li class="li_font">Involved in design and development of Restful APIs and services to interact with-->
<!--            database.-->
<!--          </li>-->
<!--          <li class="li_font">Strong knowledge of MongoDB as well as SQL server, experienced with mongoose client and-->
<!--            write SQL queries,-->
<!--            stored procedure and database normalization.-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->


<!--    <hr style="border-color: black">-->


<!--    <div class="row">-->
<!--      <div class="col">-->
<!--        <p class="skills">Programming Languages:</p>-->
<!--        <p class="skills_name"> JAVA, PHP, ASP.NET Core, C#, JavaScript, NodeJS, Express JS, Typescript</p>-->
<!--        <br>-->
<!--        <p class="skills">Database/DB Tools and Messaging:</p>-->
<!--        <p class="skills_name"> MySQL, SQL Server, MongoDB, phpMyAdmin, Oracle</p>-->
<!--        <br>-->
<!--        <p class="skills">Web Technologies: </p>-->
<!--        <p class="skills_name">JavaScript, HTML5, CSS3, JSON, XML, Angular, Boot Strap, AJAX, jQuery</p>-->
<!--        <br>-->
<!--        <p class="skills">Server: </p>-->
<!--        <p class="skills_name">Google Firebase, XAMPP</p>-->
<!--        <br>-->
<!--        <p class="skills">Testing Libraries:</p>-->
<!--        <p class="skills_name">Jest</p>-->
<!--        <br>-->
<!--        <p class="skills">Operating System:</p>-->
<!--        <p class="skills_name">Windows, LINUX</p>-->
<!--        <br>-->
<!--        <p class="skills">IDEs and Tools: </p>-->
<!--        <p class="skills_name">Eclipse, Android Studio, NetBeans, MySQL work bench, Microsoft Office Tools, Postman,-->
<!--          Microsoft Visual Studio, GitHub, FileZilla, Google Analytics, Google Tag-Manager</p>-->
<!--        <br>-->
<!--        <p class="skills">Concepts: </p>-->
<!--        <p class="skills_name">Regular Expressions (Reg EX), Data Structure</p>-->
<!--        <br>-->
<!--        <p class="skills">Methodology: </p>-->
<!--        <p class="skills_name">Agile, SDLC, Waterfall</p>-->
<!--      </div>-->
<!--    </div>-->


<!--    <hr style="border-color: black">-->


<!--    <div class="row">-->
<!--      <div class="col">-->
<!--        <div class="row">-->
<!--          <div class="col-md-6 mb-2">-->
<!--            <h6 class="mb-0">Jr Java Developer</h6>-->
<!--            <small class="figure-caption">Advantmed India LLP, Ahmedabad, India</small>-->
<!--          </div>-->
<!--          <div class="col-md-6 text-md-right text-left">-->
<!--            <h6>(June 2018 – March 2019)</h6>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row ml-4">-->
<!--          <ul class="mx-0 mb-1">-->
<!--            <li class="li_font">Involved in complete development of Agile Methodology/ SCRUM and tested the-->
<!--              application-->
<!--            </li>-->
<!--            <li class="li_font">Involved in designing the new application from scratch level and java core data-->
<!--              structure and database development and JDBC-->
<!--            </li>-->
<!--            <li class="li_font">Worked in developing code to access a REST web service from front end using HTML5, CSS3,-->
<!--              Bootstrap, and convert the response into a JSON object-->
<!--            </li>-->
<!--            <li class="li_font">Developed User Interactive (UI) of Web pages with the help of HTML5, CSS3, JavaScript,-->
<!--              jQuery, Bootstrap-->
<!--            </li>-->
<!--            <li class="li_font">Implemented MVC architecture using JSP, Spring, and Hibernate and used Spring Framework-->
<!--              to initialize managed beans and services-->
<!--            </li>-->
<!--            <li class="li_font">Designed table structures and coded scripts to create tables and stored procedures,-->
<!--              functions and views in MySQL-->
<!--            </li>-->
<!--          </ul>-->
<!--          <div class="mt-0">-->
<!--            <p class="skills">Technology: </p>-->
<!--            <p class="d-inline pl-2">JAVA, JDBC, Servlet, JSP, Spring, CSS, Bootstrap, Rest API, JSON data, MySQL,-->
<!--              jQuery</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->


<!--    <div class="row mt-3">-->
<!--      <div class="col">-->
<!--        <div class="row">-->
<!--          <div class="col-md-6 mb-2">-->
<!--            <h6 class="mb-0">Software Engineer Intern</h6>-->
<!--            <small class="figure-caption">Advantmed India LLP, Ahmedabad, India</small>-->
<!--          </div>-->
<!--          <div class="col-md-6 text-md-right text-left">-->
<!--            <h6>(January 2018 – March 2018)</h6>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row ml-4">-->
<!--          <ul class="mx-0 mb-1">-->
<!--            <li class="li_font">Participated in the implementation of client side and server-side programming using-->
<!--              MySQL, ASP.NET, Bootstrap, HTML5 and CSS3-->
<!--            </li>-->
<!--            <li class="li_font">Improved knowledge on SQL Join queries and app security by implementing Authentication-->
<!--              and Authorization-->
<!--            </li>-->
<!--            <li class="li_font">Implemented web form Validations by creating RegEx</li>-->
<!--            <li class="li_font">Developed Application using Test Driven Development, also written Integration tests</li>-->
<!--          </ul>-->
<!--          <div>-->
<!--            <p class="skills">Technology: </p>-->
<!--            <p class="d-inline pl-2">C#, SQL, ASP.NET Core, Bootstrap, HTML</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->


<!--    <div class="row mt-3">-->
<!--      <div class="col">-->
<!--        <div class="row">-->
<!--          <div class="col-md-6 mb-2">-->
<!--            <h6 class="mb-0">Software Engineer Intern</h6>-->
<!--            <small class="figure-caption">Advantmed India LLP, Ahmedabad, India</small>-->
<!--          </div>-->
<!--          <div class="col-md-6 text-md-right text-left">-->
<!--            <h6>(July 2017 – September 2017)</h6>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row ml-4">-->
<!--          <ul class="mx-0 mb-1">-->
<!--            <li class="li_font">Worked under Senior Team members and got knowledge of Agile Methodologies</li>-->
<!--            <li class="li_font">Enhanced the knowledge of the ASP.NET object-oriented programming and relational-->
<!--              database concepts-->
<!--            </li>-->
<!--            <li class="li_font">Utilized the Microsoft visual studio and SQL server management throughout the-->
<!--              internship-->
<!--            </li>-->
<!--          </ul>-->
<!--          <div>-->
<!--            <p class="skills">Technology: </p>-->
<!--            <p class="d-inline pl-2">C#, SQL, ASP.NET Core, Bootstrap, HTML</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->


<!--    <hr style="border-color: black">-->


<!--    <div class="row">-->
<!--      <div class="col">-->
<!--        <div class="row">-->
<!--          <div class="col-md-6 mb-2">-->
<!--            <h6>Romato (Online Food Order System)</h6>-->
<!--          </div>-->
<!--          <div class="col-md-6 text-md-right text-left">-->
<!--            <h6>(May 2020 – August 2020)</h6>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row ml-4">-->
<!--          <ul class="mx-0 mb-1">-->
<!--            <li class="li_font">Requirement gathering for capstone project and participated in project planning sessions-->
<!--              with team members.-->
<!--            </li>-->
<!--            <li class="li_font">Implement the complete project based on agile methodology/SCRUM</li>-->
<!--            <li class="li_font">Used NoSQL (MongoDB) to store data and mongoose NPM module to interact with MongoDB</li>-->
<!--            <li class="li_font">Developed dynamic web content using Angular 9, HTML 5, Typescript, Bootstrap, CSS and-->
<!--              jQuery-->
<!--            </li>-->
<!--            <li class="li_font">Participated in the implementation of client-side and server-side programming using-->
<!--              HTML, CSS, Typescript, NodeJS, Express JS, Angular 9, Bootstrap 4 and other NPM modules-->
<!--            </li>-->
<!--            <li class="li_font">Involved in debugging and unit testing using Jest</li>-->
<!--            <li class="li_font">Used GitHub for Version Control</li>-->
<!--          </ul>-->
<!--          <div>-->
<!--            <p class="skills">Technology: </p>-->
<!--            <p class="d-inline pl-2">NodeJS, Express JS, Angular 9, Typescript, NPM, Bootstrap 4, HTML 5, CSS 3, Jest-->
<!--              (Testing)</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->


<!--    <div class="row mt-3">-->
<!--      <div class="col">-->
<!--        <div class="row">-->
<!--          <div class="col-md-6 mb-2">-->
<!--            <h6>Task Manager API</h6>-->
<!--          </div>-->
<!--          <div class="col-md-6 text-md-right text-left">-->
<!--            <h6>(March 2020 – April 2020)</h6>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row ml-4">-->
<!--          <ul class="mx-0 mb-1">-->
<!--            <li class="li_font">Created an API using Node JS and Express JS with secure authentication and-->
<!--              authorization-->
<!--            </li>-->
<!--            <li class="li_font">Used JsonWebTokens (JWT) to provide secure and stable authentication</li>-->
<!--            <li class="li_font">Implemented mail service using Node Mailer module of NPM</li>-->
<!--            <li class="li_font">Write some unit testing using JavaScript testing library Jest along with Super test-->
<!--              module-->
<!--            </li>-->
<!--            <li class="li_font">Task Manager API: https://yash-task-manager-api.herokuapp.com/ (works with Postman)</li>-->
<!--          </ul>-->
<!--          <div>-->
<!--            <p class="skills">Technology: </p>-->
<!--            <p class="d-inline pl-2">NodeJS, Express JS, NPM modules, Jest, Postman</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <hr style="border-color: black">-->


<!--    <div class="row mt-1">-->
<!--      <div class="col">-->
<!--        <div class="row">-->
<!--          <div class="col-md-6">-->
<!--            <h6>Web Design and Development (Post-Graduate certificate)</h6>-->
<!--            <p class="figure-caption my-0">Conestoga college, Kitchener, ON</p>-->
<!--            <p class="figure-caption "> GPA – 3.7/4.0, Dean’s list 2019</p>-->
<!--          </div>-->
<!--          <div class="col-md-6 text-md-right text-left">-->
<!--            <h6>(May 2019 – August 2020)</h6>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->


<!--    <div class="row mt-1">-->
<!--      <div class="col">-->
<!--        <div class="row">-->
<!--          <div class="col-md-6">-->
<!--            <h6>Computer Engineering (Bachelor of Engineering)</h6>-->
<!--            <p class="figure-caption my-0">Gujarat Technological University, India</p>-->
<!--            <p class="figure-caption "> CGPA – 7.82/9, Distinction</p>-->
<!--          </div>-->
<!--          <div class="col-md-6 text-md-right text-left">-->
<!--            <h6> (August 2014 – May 2018)</h6>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->


<!--  </div>-->
<!--</div>-->
