<div class="container mt-3">
  <div class="text-center">
    <p class="display-4">Experiance</p>
    <blockquote class="blockquote">
      <p class="mb-0">"Measuring programming progress by lines of code is like measuring aircraft building progress by weight."</p>
      <footer class="blockquote-footer">Bill Gates</footer>
    </blockquote>
  </div>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 justify-content-center">
    <app-experiance-card
      *ngFor="let e of experiances let i = index"
      [experiance] ="e"
      [index]="i" ></app-experiance-card>
  </div>
</div>



































