<div class="bg">
  <div id="carouselExampleControls " class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <p class="display-3">Web Designer</p>
        <p class="h5 h5width">“A designer knows he has achieved perfection not when there is nothing left to add, but
          when there is nothing left to take away."</p>
      </div>
      <div class="carousel-item">
        <p class="display-3">Javascript Developer</p>
        <p class="h5 h5width">Always bet on Javascript...</p>
      </div>
      <div class="carousel-item">
        <p class="display-3">Database Development</p>
        <p class="h5 h5width">Always keep books in a shelf...</p>
      </div>
    </div>
  </div>
  <div class="btns">
    <a routerLink="/aboutme" class="btn btn-info p-2 mr-5 shadow">Learn More...</a>
    <a href="../../assets/resume/yash_patel.pdf" target="_blank" class="btn btn-info p-2 shadow" style="cursor: pointer">Resume</a>
  </div>
</div>
